---
#- name: GET DO Master
#  uri:
#    url: https://{{ item.management }}/mgmt/shared/declarative-onboarding?show=full
#    method: GET
#    user: "admin"
#    password: "{{ extra_admin_password }}"
#    validate_certs: no
#    timeout: 300
#    status_code: 200, 202
#  register: var_do_current_master
#  loop: "{{ stats_self_ips }}"
#  when: item.protect_from_scale_in == "True"

#- debug:
#    var: var_do_current_master

- name: INIT list_nodes_current
  set_fact:
    list_nodes_current: []

#- name: SET list_nodes_current
#  set_fact:
#    list_nodes_current: "{{ var_do_current_master.results.0.json.declaration.Common['failoverGroup-awaf'].members }}"
#  when: var_do_current_master.results.0.json.declaration.Common['failoverGroup-awaf'] is defined

- debug:
    var: list_nodes_current

- name: INIT list_nodes_to_onboard
  set_fact:
    list_nodes_to_onboard: []

- name: SET list_nodes_to_onboard
  set_fact:
    list_nodes_to_onboard: "{{ list_nodes_to_onboard + [item.dataplane] }}"
  loop: "{{ stats_self_ips }}"
  when: item.dataplane not in list_nodes_current

- debug:
    msg: "list_nodes_to_onboard={{ list_nodes_to_onboard }}"

- name: Create a management route on new slaves
  delegate_to: localhost
  bigip_management_route:
    name: route_management_on_premise
    gateway: "{{ extra_gw_management }}"
    network: "{{ extra_route_prefix_on_premise }}"
    state: present
    provider:
      user: "{{ extra_admin_user }}"
      password: "{{ extra_admin_password }}"
      server: "{{ item.management }}"
      server_port: "{{ extra_port_mgt }}"
      validate_certs: no
  loop: "{{ stats_self_ips }}"
  when:
    - item.dataplane in list_nodes_to_onboard
    - item.protect_from_scale_in != "True"

# https://clouddocs.f5.com/products/extensions/f5-declarative-onboarding/latest/clustering-managing-devices.html
# 1. Update the Device Group in the declaration with the new member list.
- name: SET var_failoverGroup_master_dataplane
  set_fact:
    var_failoverGroup_master_dataplane: "{{ stats_self_ips.0.dataplane }}"
  loop: "{{ stats_self_ips }}"
  when: item.protect_from_scale_in == "True"

- name: INIT var_failoverGroup_members
  set_fact:
    var_failoverGroup_members: []

- name: SET var_failoverGroup_members
  set_fact:
    var_failoverGroup_members: "{{ var_failoverGroup_members + [ item.dataplane ] }}"
  loop: "{{ stats_self_ips }}"

- name: var_failoverGroup_members
  debug:
    msg: "var_failoverGroup_members: {{ var_failoverGroup_members }}"

# 2. Master standalone - Master was standalone, update him first
- name: do-vmss-master-2nic-awaf-BIGIQ.json
  debug:
    msg: "{{ lookup('template', 'do-vmss-master-2nic-awaf-BIGIQ.json') }}"
  loop: "{{ stats_self_ips }}"
  when:
    - item.protect_from_scale_in == "True"
    - list_nodes_current | length == 0

- name: onboarding Master, previously Standalone
  uri:
    url: https://{{ item.management }}/mgmt/shared/declarative-onboarding
    method: "POST"
    user: "admin"
    password: "{{ extra_admin_password }}"
    validate_certs: no
    body: "{{ lookup('template', 'do-vmss-master-2nic-awaf-BIGIQ.json') }}"
    body_format: json
    timeout: 300
    status_code: 200, 202
  loop: "{{ stats_self_ips }}"
  when:
    - item.protect_from_scale_in == "True"
    - list_nodes_current | length == 0

- pause:
    prompt: "Please wait during Master loads DSC configuration"
    minutes: 2
  loop: "{{ stats_self_ips }}"
  when:
    - item.protect_from_scale_in == "True"
    - list_nodes_current | length == 0

# 3. Send the updated declaration with the updated Device Group list to the new device you want to add.
- name: do-vmss-slave-2nic-awaf-BIGIQ.json
  debug:
    msg: "{{ lookup('template', 'do-vmss-slave-2nic-awaf-BIGIQ.json') }}"
  loop: "{{ stats_self_ips }}"
  when:
    - item.dataplane in list_nodes_to_onboard
    - item.protect_from_scale_in != "True"

- name: check UP status new Slaves - Update the Device Group in the declaration with the new member list.
  uri:
    url: https://{{ item.management }}/mgmt/shared/
    method: GET
    user: "admin"
    password: "{{ extra_admin_password }}"
    follow_redirects: none
    validate_certs: no
    body: "{{ lookup('template', 'do-vmss-slave-2nic-awaf-BIGIQ.json') }}"
    body_format: json
    timeout: 300
    status_code: 200, 202
  register: result_httpd
  until: result_httpd.status == 401
  retries: 120
  delay: 5
  ignore_errors: yes
  loop: "{{ stats_self_ips }}"
  when:
    - item.dataplane in list_nodes_to_onboard
    - item.protect_from_scale_in != "True"

- name: onboarding new Slaves - Update the Device Group in the declaration with the new member list.
  uri:
    url: https://{{ item.management }}/mgmt/shared/declarative-onboarding
    method: "POST"
    user: "admin"
    password: "{{ extra_admin_password }}"
    validate_certs: no
    body: "{{ lookup('template', 'do-vmss-slave-2nic-awaf-BIGIQ.json') }}"
    body_format: json
    timeout: 300
    status_code: 200, 202
  register: list_json_response
  loop: "{{ stats_self_ips }}"
  when:
    - item.dataplane in list_nodes_to_onboard
    - item.protect_from_scale_in != "True"

- pause:
    prompt: "Please wait during BIG-IP load modules"
    minutes: 10

# 4. Send the declaration with the updated owner and Device Group list to the other devices in the cluster.
- name: do-vmss-master-2nic-awaf-BIGIQ.json
  debug:
    msg: "{{ lookup('template', 'do-vmss-master-2nic-awaf-BIGIQ.json') }}"
  loop: "{{ stats_self_ips }}"
  when:
    - item.protect_from_scale_in == "True"
    - list_nodes_current | length > 0


- name: onboarding Master
  uri:
    url: https://{{ item.management }}/mgmt/shared/declarative-onboarding
    method: "POST"
    user: "admin"
    password: "{{ extra_admin_password }}"
    validate_certs: no
    body: "{{ lookup('template', 'do-vmss-master-2nic-awaf-BIGIQ.json') }}"
    body_format: json
    timeout: 300
    status_code: 200, 202
  register: list_json_response
  loop: "{{ stats_self_ips }}"
  when:
    - item.protect_from_scale_in == "True"
    - list_nodes_current | length > 0

- debug:
    var: list_json_response

- name: onboarding legacy Slave
  uri:
    url: https://{{ item.management }}/mgmt/shared/declarative-onboarding
    method: "POST"
    user: "admin"
    password: "{{ extra_admin_password }}"
    validate_certs: no
    body: "{{ lookup('template', 'do-vmss-slave-2nic-awaf-BIGIQ.json') }}"
    body_format: json
    timeout: 300
    status_code: 200, 202
  register: list_json_response
  loop: "{{ stats_self_ips }}"
  when:
    - item.protect_from_scale_in != "True"
    - item.dataplane not in list_nodes_to_onboard

- debug:
    var: list_json_response

- name: CMP_OUTPUT
  debug:
    msg: "
    key=do_log_file;value=/var/log/restnoded/restnoded.log;help=restnoded failure log;
    "

- name: WAIT for onboarding IN PROGRESS
  uri:
    url: https://{{ item.item.management }}/mgmt/shared/declarative-onboarding/task/{{ item.json.id }}?statusCodes=experimental
    method: GET
    user: "admin"
    password: "{{ extra_admin_password }}"
    validate_certs: no
    timeout: 60
    status_code: 200
  loop: "{{ list_json_response.results }}"
  register: list_json_response_task_progress
  when: item.skip_reason is undefined

- debug:
    var: list_json_response_task_progress

- name: CHECK onboarding SUCCESS
  uri:
    url: https://{{ item.item.management }}/mgmt/shared/declarative-onboarding/task/{{ item.json.id }}?statusCodes=experimental
    method: GET
    user: "admin"
    password: "{{ extra_admin_password }}"
    validate_certs: no
    timeout: 60
    status_code: 200
  register: list_json_response_task_success
  loop: "{{ list_json_response.results }}"
  when: item.skip_reason is undefined

- debug:
    var: list_json_response_task_success.results

- name: "Artifact for Tower Workflows"
  set_stats:
    data:
      stats_list_nodes_current:  "{{ list_nodes_current }}"
      stats_list_nodes_to_onboard:  "{{ list_nodes_to_onboard }}"


...
